Repository Zarebin/nextgen-7, pull requests merged in 2023-08, with the labels that each got.

#14 Ketabi: RSS crawler
  Python/Projects/RSS/Ketabi/README.md
  Python/README.md
Labels: python

#15 ketabi: Main content project
  Science/Projects/MainContent/ketabi/README.md
Labels: Science

#17 Habibi: Main content project
  Science/Projects/MainContent/Habibi/README.md
Labels: Science

#27 Hedayati : add trend code
  Python/Projects/Trend/Hedayati/main.py
  Python/Projects/Trend/Hedayati/myClasses.py
  Python/Projects/Trend/Hedayati/trendPerDay.py
Labels: python, trend

#32 Add parser.
  Science/Projects/MainContent/Habibi/README.md
  Science/Projects/MainContent/README.md
  Science/Projects/MainContent/features.py
  Science/Projects/MainContent/html_parser.py
  Science/Projects/MainContent/ketabi/README.md
  Science/Projects/MainContent/model.py
  Science/Projects/MainContent/node.py
  Science/Projects/MainContent/utility.py
Labels: Science, main-content
